openapi: 3.0.0
info:
  title: Pingwire API
  version: 1.0.0
  description: |
    The Pingwire API can be used by all our customers. Reach out to get your credentials.

     <a href="mailto:sales@pingwire.io">Become a customer</a>


    # Introduction
    ## Dictionary

    - `ENTITY`: An entity is a subject for investigation e.g an individual, a company, or an asset.
    - `REQUEST`: A request is an enquiry to the system by the user to investigate one or several entities. Initiated manually or through API.
    - `RULE`: Each request triggers a set of user defined rules. Rules can also be executed at regular intervals by the system for continuous monitoring.
    - `PING`: For each rule broken the system creates a Ping. A Ping identifies a unit of suspicious information that needs to be followed up. A Ping can be <em>Confirmed</em>, <em>Resolved</em> or <em>Ignored</em> by the user.

    - `CASE`: Provides the main user interface. A Case collects sets of Pings and related Entities and provides means to investigate and report suspicious activities in bulk.
    - `SEGMENT`: Custom grouping corresponding to a self-defined group structure, e.g. product usage. In addition, segments also correspond to a baseline probability of criminal activity.
    - `RISK CLASS`: Classes partitioned by the probability of an entity committing a crime using self-defined probability intervals.

    ## Unique Identifier
    The Pingwire system strives to ensure the unicity of entities that are inserted in the system in order to help our customers detect complex financial patterns. To do so it is using some fields labeled as "Unique identifiers".

    The system prevents the insertion of duplicated unique identifiers by reusing existing entities as much as possible. Creating a new entity can result on updating an existing one if the payload for the create endpoint contains a unique identifier already present in an existing entity.

    Similarly when inserting a new entity in the system at least one of the unique identifier must be present in the payload so that it can be matched to existing or future entities. An entity without unique identifier would be useless in the system as it would never be able to be matched to past or future activity/behaviour/information.

    ## Sequence Diagram

    <img src="assets/seq-diagram.svg"  />

    ## Request flowchart
    The following flowchart illustrates a typical request process.

    <img src="assets/Request_flowchart.png" width="60%" style="margin-left: 15%" />

    # Test objects

    The Pingwire system provides two rules which can be used for test purposes: "Test Review" and "Test Block". When these rules are published for a specific process, they will trigger for every requests sent on that process which has a targetted entity in the list of test objects bellow. These rules can therefore be used to test the integration for a specific recommendation or even a specific signal (if signals are used on the test rules). 

    |   | Environment | Identification | Entity type  | Recommendation | Create ping |
    |---|------------|--------------------------------|--------------|----------------|-------------|
    | 1 |   staging  |          Ssn <span>&#8594;</span>  201912072392          |  Individual  |      block     |     true    |
    | 2 |   staging  |          Ssn <span>&#8594;</span> 201912302385          |  Individual  |     review     |     true    |
    | 3 |   staging  |          Org. nr. <span>&#8594;</span> 5599887766          |  Business  |      block     |     true    |
    | 4 |   staging  |          Org. nr. <span>&#8594;</span> 5566778899          |  Business  |     review     |     true    |
    | 5 |   staging  |          Reg. nr. <span>&#8594;</span> AAA111          |  Car  |      block     |     true    |
    | 6 |   staging  |          Reg. nr. <span>&#8594;</span> ABC123          |  Car  |     review     |     true    |
  x-logo:
    url: ./assets/pingwire-logo.svg
    altText: Pingwire
    href: https://www.pingwire.io
  license:
    name: Commercial - Subscription Required
    url: https://www.pingwire.io/contact-us
servers:
  - url: https://api.pingwire.io
    description: Production server
  - url: https://api.staging.pingwire.io
    description: Staging server
tags:
  - name: Forms
    description: |
      ## Introduction to forms

      Forms can be used to collect information from the end user either manually or fully automated.

      Forms are configured on demand by submitting a new specification to Pingwire. Once the form has been configured you will receive a `formId`. The `formId` is an identification for this specific form configuration which has been implemented. You will need the `formId` when using our API to automate the process of sending out forms.

      A typical flow for this feature will look like this:
      - Get notified that it is time to send a form to the end user, this can be based on any custom logic on your side. It can for example be as a reaction to a signal present in the recommendation from a request that was sent in to Pingwire.
      - Call the [Get form link](#tag/Forms/paths/~1forms~1%7BformId%7D~1%7BentityId%7D~1link/get) endpoint to retrieve a unique link for that `formId` and end user
      - Present the end user with that link through whichever setup is relevant (See the [Setups for presenting forms](#section/Setups-for-presenting-forms) section below for more details about the different options)
      - Once the end user has filled in the form, continue with the rest of the end user journey
      - Access the answers left by the end user either through API using the [Get form answer](#tag/Forms/paths/~1form-answers~1%7BformAnswerId%7D/get) endpoint or directly through the interface. Rules can be configured to use these answers in the interface.

      ## Setups for presenting forms

      ### Standalone

      In the standalone setup, the form URL retrieved using the [Get form link](#tag/Forms/paths/~1forms~1%7BformId%7D~1%7BentityId%7D~1link/get) endpoint (or from the interface) can be used without modifications and sent to the end user in whichever way is relevant. It can for example be sent by email, text message or even be presented as a QR code for end users to scan.

      When the end user finishes to fill in the form, the submitted answers will be saved, the end user is redirected to a "Thank you" page and invited to close their browser. At the moment it is not possible to get notified when a form has been submitted when using this setup.

      This setup is particularly well adapted for manual sending out of forms or when the end user should fill in a form in isolation from any other end user journey.

      ### Redirect flow

      In the redirect flow setup, the end user will be redirected to the form URL and after all their answers have been submitted they will be redirected back to a callback URL provided by you. This setup is adapted to be used as part of an existing end user journey where the form should be inserted as part of a unified and cohesive experience.

      In order to use that setup, the end user should be sent to the URL retrieved using the [Get form link](#tag/Forms/paths/~1forms~1%7BformId%7D~1%7BentityId%7D~1link/get) endpoint after it has been extended to include information about the redirection setup. The browser of the end user should be redirected to that URL with the addition of the following query parameters:
      - `redirectUrl`: The callback URL where the end user should be redirected to when the form is completed (or cancelled). For security reasons, redirectUrl must be whitelisted as part of the form setup. If you would like to update the redirect URL reach out to Pingwire to update the whitelist.
      - `state`: Any information that represent the state of the end user journey where the form is inserted. The state will be sent back to the redirect URL which can then be used to resume the end user journey on your side wherever it got interrupted by the form. The state is not required to use the redirect setup but is strongly recommended.


      When the end user is redirected to the callback URL, it will be done with several query parameters:
      - `status`: Will always be present and can be one of the following values:
      |Status|Description|
      |------|-----------|
      |`SUCCESS`|The form has been successfully submitted and the answers have been saved.|
      |`CANCELLED`|The form has been interrupted by the end user who decided to not submit any answers.|
      |`ERROR`|There has been a technical error of some sort and the end user was not able to submit any answers.|
      - `state`: Will be present if a state was provided to the form URL as a query parameter. It will be exactly identical to that provided value.
      - `formAnswerId`: Will only be present if the `status` is `SUCCESS`. This id can be used to retrieve the answers submitted by the end user using the [Get form answer](#tag/Form-answers/paths/~1form-answers~1%7BformAnswerId%7D/get) endpoint.
      - `errorCode`: Will only be present if the `status` is `ERROR`. New code can be introduced at any time so the logic reading these codes should be able to handle an unexpected value. Unexpected values can be handled the same way as the code `unknown`. The possible values as of today are:
      |Error code|Description|
      |----------|-----------|
      |`unknown` |The cause of the error is unknown. In that case it is best to consider the form service to be unavailable at that time and handle that failure accordingly.|
paths:
  /account-entities:
    get:
      tags:
        - Accounts
      summary: List accounts
      operationId: listAccounts
      description: Receive list of accounts saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          schema:
            type: string
            enum:
              - createdAt
              - riskScore
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: _start
          description: The start number of the accounts list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the accounts list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountEntity'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Accounts
      summary: Create account
      operationId: createAccount
      description: Created account information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEntityBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntity'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /account-entities/{id}:
    get:
      tags:
        - Accounts
      summary: Get account
      operationId: getAccount
      description: Receive account by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Account object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntity'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Accounts
      summary: Update account
      operationId: updateAccount
      parameters:
        - in: path
          name: id
          description: Account object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update account information
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountEntityBodyUpdate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntity'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /account-entities/customId/{customId}:
    get:
      tags:
        - Accounts
      summary: Get account by customId
      operationId: getAccountByCustomId
      description: Receive account by customId saved in the database.
      parameters:
        - in: path
          name: customId
          description: customId of the account
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountEntity'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /auth/login:
    post:
      tags:
        - Auth
      summary: Receive access token
      operationId: login
      description: |
        The Pingwire API uses OAuth as an authentication mechanism. This operation allows you to retrieve an access token by posting clientId and clientSecret as request body.

        This token can be used on subsequent API calls to authenticate you. Operations that support or require authentication will expect the access token in an HTTP Authorization header like this: `Authorization: Bearer <access token>`.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - clientId
                - clientSecret
              properties:
                clientId:
                  type: string
                  description: Client ID of the API key
                clientSecret:
                  type: string
                  description: Client secret of the API key
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - token
                  - expires
                properties:
                  token:
                    type: string
                    description: Authentication token. Should be used by the client as a bearer token for all authenticated requests.
                  expires:
                    description: Date when the auth token expires. The token should be cached on the client side until it expires.
                    type: string
                    format: date-time
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security: []
  /individuals:
    get:
      tags:
        - Individuals
      summary: List individuals
      operationId: listIndividuals
      description: Receive list of individuals saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - firstName
              - lastName
              - swedishSocialSecurityNumber
              - riskScore
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: _start
          description: The start number of the individuals list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the individuals list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Individual'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Individuals
      summary: Create individual
      operationId: createIndividual
      description: Create a new individual.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Individual'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /individuals/{id}:
    get:
      tags:
        - Individuals
      summary: Get individual
      operationId: getIndividual
      description: Receive individual by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Individual object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Individual'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Individuals
      summary: Update individual
      operationId: updateIndividual
      parameters:
        - in: path
          name: id
          description: Individual object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update a individual.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IndividualBodyUpdate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Individual'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /individuals/customId/{customId}:
    get:
      tags:
        - Individuals
      summary: Get individual by customId
      operationId: getIndividualByCustomId
      description: Receive individual by customId saved in the database.
      parameters:
        - in: path
          name: customId
          description: customId of the individual
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Individual'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /businesses:
    get:
      tags:
        - Businesses
      summary: List businesses
      operationId: listBusinesses
      description: Receive list of businesses saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - name
              - swedishOrganizationNumber
              - riskScore
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: _start
          description: The start number of the businesses list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the businesses list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Business'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Businesses
      summary: Create business
      operationId: createBusiness
      description: Create a new business.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /businesses/{id}:
    get:
      tags:
        - Businesses
      summary: Get business
      operationId: getBusiness
      description: Receive business by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Business object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Businesses
      summary: Update businesses
      operationId: updateBusiness
      parameters:
        - in: path
          name: id
          description: Business object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update a businesses.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessBodyUpdate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /businesses/customId/{customId}:
    get:
      tags:
        - Businesses
      summary: Get business by customId
      operationId: getBusinessByCustomId
      description: Receive business by customId saved in the database.
      parameters:
        - in: path
          name: customId
          description: customId of the business
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Business'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /businesses/company-information/manual-insert/{id}:
    post:
      tags:
        - Company Information
      summary: Create manual company information
      operationId: createManualCompanyInformation
      description: Create a new manual company information
      parameters:
        - in: path
          name: id
          description: Business object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInformationRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyInformationResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /businesses/beneficial-owners/manual-insert/{id}:
    post:
      tags:
        - Beneficial Owners
      summary: Create manual beneficial owners information
      operationId: createManualBeneficialOwners
      description: Create a new beneficial owners information object
      parameters:
        - in: path
          name: id
          description: Business object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BeneficialOwnersRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BeneficialOwnersResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /businesses/board-members/manual-insert/{id}:
    post:
      tags:
        - Board Members
      summary: Create manual board members information
      operationId: createManualBoardMembers
      description: Create a new board members information object
      parameters:
        - in: path
          name: id
          description: Business object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardMembersRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardMembersResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /businesses/signatories/manual-insert/{id}:
    post:
      tags:
        - Signatories
      summary: Create manual signatories information
      operationId: createManualSignatories
      description: Create a new signatories information object
      parameters:
        - in: path
          name: id
          description: Business object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignatoriesRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatoriesResponse'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cars:
    get:
      tags:
        - Cars
      summary: List cars
      operationId: listCars
      description: Receive list of cars saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - registrationNumber
              - registrationCountry
              - carModel
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: _start
          description: The start number of the cars list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the cars list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Car'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Cars
      summary: Create cars
      operationId: createCar
      description: Create a new cars.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Car'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cars/{id}:
    get:
      tags:
        - Cars
      summary: Get car
      operationId: getCar
      description: Receive car by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Car object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Car'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Cars
      summary: Update car
      operationId: updateCar
      parameters:
        - in: path
          name: id
          description: Car object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update car.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarBodyUpdate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Car'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cars/customId/{customId}:
    get:
      tags:
        - Cars
      summary: Get car by customId
      operationId: getCarByCustomId
      description: Receive car by customId saved in the database.
      parameters:
        - in: path
          name: customId
          description: customId of the car
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Car'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /connections:
    get:
      tags:
        - Connections
      summary: List connections
      operationId: listConnection
      description: Receive list of connections saved in the database.
      parameters:
        - in: query
          name: from
          description: Source entity, used to have all connections with this entity as a source. It cannot be used with entity.
          required: false
          schema:
            type: string
            format: ObjectId
            description: ID of the 'from' entity
            example: 62b9437318fe4517089b2833
        - in: query
          name: to
          description: Target entity, used to have all connections with this entity as a target. It cannot be used with entity.
          required: false
          schema:
            type: string
            format: ObjectId
            description: ID of the 'to' entity
            example: 62b9437318fe4517089b2833
        - in: query
          name: entity
          description: Entity id, used to have all connections for this entity (either source or target of the connection). Must be used with type and cannot be used with from or to.
          required: false
          schema:
            type: string
            format: ObjectId
            description: ID of entity
            example: 62b9437318fe4517089b2833
        - in: query
          name: type
          description: Type of connection.
          required: false
          schema:
            $ref: '#/components/schemas/ConnectionTypes'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Connection'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Connections
      summary: Create connections
      operationId: createConnection
      description: Create a new connections.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionUpdate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /connections/{id}:
    delete:
      tags:
        - Connections
      summary: Delete connection
      operationId: deleteConnection
      description: Delete connection by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Connection object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /pings:
    get:
      tags:
        - Pings
      summary: List pings
      operationId: listPings
      description: Receive list of pings saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - createdAt
              - description
              - entities
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: status
          description: Filter list of pings by status.
          required: false
          example: null
          schema:
            type: string
            enum:
              - pending
              - resolved
              - confirmed
              - ignored
        - in: query
          name: _start
          description: The start number of the pings list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the pings list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ping'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Pings
      summary: Create ping
      operationId: createPing
      description: Create a new ping
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - entities
                - description
                - score
                - riskTimeline
                - caseId
              properties:
                entities:
                  type: array
                  description: List of entities included in the ping
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        format: ObjectId
                        example: 62b9437318fe4517089b2833
                        externalDocs:
                          description: Unique identifier
                          url: /#section/Introduction/Unique-Identifier
                      type:
                        $ref: '#/components/schemas/EntityTypes'
                description:
                  type: string
                  description: Description of the suspicious information or behaviour detected by the ping
                score:
                  type: number
                  description: Score contribution of the ping
                  minimum: 0
                  maximum: 100
                riskTimeline:
                  type: object
                  description: Timeline describing how the risk score contribution of the ping should evolve over time. The risk contribution will linearly decrease over the timeline.
                  required:
                    - period
                    - amount
                  properties:
                    period:
                      type: string
                      enum:
                        - seconds
                        - minutes
                        - hours
                        - days
                        - months
                        - years
                    amount:
                      type: number
                      minimum: 1
                caseId:
                  type: string
                  format: ObjectId
                  description: ID of the case the ping should be included into
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /pings/{id}:
    get:
      tags:
        - Pings
      summary: Get ping
      operationId: getPing
      description: Receive ping by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Ping object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Pings
      summary: Update ping
      operationId: updatePing
      description: Update a ping
      parameters:
        - in: path
          name: id
          description: Ping object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PingBodyUpdate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /pings/{id}/status:
    put:
      tags:
        - Pings
      summary: Update ping status
      operationId: updatePingStatus
      parameters:
        - in: path
          name: id
          description: Ping object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - status
                - comment
              properties:
                status:
                  type: string
                  description: New status of the ping
                  enum:
                    - pending
                    - resolved
                    - confirmed
                    - ignored
                comment:
                  type: string
                  description: Explanation for why the status is updated
                score:
                  type: number
                  description: Score contribution to use for this ping. This is only used when status is "confirmed". It is required when status is "confirmed"
                  minimum: 0
                  maximum: 100
                numberOfDaysIgnoreRule:
                  type: number
                  description: Number of days in the future that a similar ping should not be created.
                  minimum: 0
                overrideRecommendation:
                  type: string
                  description: Recommendation to apply for future requests while the rule is ignored. This will only be used for the amount of days specified in "numberOfDaysIgnoreRule"
                  enum:
                    - proceed
                    - review
                    - block
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /pings/{id}/comment:
    put:
      tags:
        - Pings
      summary: Comment on ping
      operationId: commentPing
      parameters:
        - in: path
          name: id
          description: Ping object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - comment
              properties:
                comment:
                  type: string
                  description: Comment to add on the ping
                origin:
                  type: string
                  format: ObjectId
                  description: ID of the comment to edit with this new comment
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ping'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cases:
    get:
      tags:
        - Cases
      summary: List cases
      operationId: listCases
      description: Receive list of cases saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - createdAt
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: _start
          description: The start number of the cases list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the cases list.
          required: false
          example: '10'
          schema:
            type: number
        - in: query
          name: status
          description: Filter list of cases by status. The query parameter can be repeated to filter by multiple statuses.
          required: false
          schema:
            $ref: '#/components/schemas/CaseStatuses'
        - in: query
          name: priority
          description: Filter list of cases by priority. The query parameter can be repeated to filter by multiple priorities.
          required: false
          schema:
            $ref: '#/components/schemas/CasePriorities'
        - in: query
          name: entities
          description: Filter list of cases by entity ID. The query parameter can be repeated to filter by multiple entities.
          required: false
          example: 62b9437318fe4517089b2833
          schema:
            type: string
        - in: query
          name: assignee
          description: Filter list of cases by the member ID that cases are assigned to. Use the value `unassigned` to filter on cases that have not been assigned. The query parameter can be repeated to filter by multiple assignees.
          required: false
          example: 62b9437318fe4517089b2833
          schema:
            type: string
        - in: query
          name: escalatedTo
          description: Filter list of cases by the member ID that cases are escalated to. Use the value `deescalated` to filter on cases that are currently not escalated. The query parameter can be repeated to filter by multiple escalated to members.
          required: false
          example: 62b9437318fe4517089b2833
          schema:
            type: string
        - in: query
          name: tags
          description: Filter list of cases by tag ID. The query parameter can be repeated to filter by multiple tags.
          required: false
          example: 62b9437318fe4517089b2833
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Cases
      summary: Create case
      operationId: createCase
      description: Create a case.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - entityId
                - entityType
              properties:
                entityId:
                  type: string
                  format: ObjectId
                  description: EntityId of the entity to create a case for
                  example: 62b9437318fe4517089b2833
                entityType:
                  $ref: '#/components/schemas/EntityTypes'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cases/merge:
    post:
      tags:
        - Cases
      summary: Merge cases
      operationId: mergeCases
      description: Merge cases together. Responds with a new case consisting of the merged cases.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - selectedIds
              properties:
                selectedIds:
                  type: array
                  items:
                    type: string
                    description: list of case object ids to merge.
                    format: ObjectId
                    example: 62b9437318fe4517089b2833
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cases/{id}:
    get:
      tags:
        - Cases
      summary: Get case
      operationId: getCase
      description: Receive case by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Case object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cases/{id}/attach-entity:
    put:
      tags:
        - Cases
      summary: Attach entity
      operationId: attachEntityToCase
      description: Attach an entity to a case.
      parameters:
        - in: path
          name: id
          description: Case object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - entityId
                - entityType
              properties:
                entityId:
                  type: string
                  format: ObjectId
                  description: EntityId of the entity to attach to the case
                  example: 62b9437318fe4517089b2833
                entityType:
                  $ref: '#/components/schemas/EntityTypes'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cases/{id}/detach-entity:
    put:
      tags:
        - Cases
      summary: Detach entity
      operationId: detachEntityToCase
      description: Detach an entity from a case.
      parameters:
        - in: path
          name: id
          description: Case object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - entityId
                - entityType
              properties:
                entityId:
                  type: string
                  format: ObjectId
                  description: EntityId of the entity to detach from the case
                  example: 62b9437318fe4517089b2833
                entityType:
                  $ref: '#/components/schemas/EntityTypes'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cases/{id}/status:
    put:
      tags:
        - Cases
      summary: Update case status
      operationId: updateCaseStatus
      parameters:
        - in: path
          name: id
          description: Case object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  $ref: '#/components/schemas/CaseStatuses'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /cases/{id}/comment:
    put:
      tags:
        - Cases
      summary: Comment on case
      operationId: commentCase
      parameters:
        - in: path
          name: id
          description: Case object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - comment
              properties:
                comment:
                  type: string
                  description: Content of the comment
                origin:
                  type: string
                  format: ObjectId
                  description: ID of the comment to edit with this new comment
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Case'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /requests:
    get:
      tags:
        - Requests
      summary: List requests
      operationId: listRequest
      description: Receive list of requests saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - createdAt
              - entity
              - requestType
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: recommendation
          description: Filter list of requests by recommendation.
          required: false
          example: null
          schema:
            type: string
            enum:
              - block
              - review
              - proceed
        - in: query
          name: id
          description: Filter list of requests by id of request. Either this query parameter or requestType query parameter must be defined.
          required: false
          example: 679b5a44b82f37f3cf378ea5
          schema:
            type: string
            format: ObjectId
        - in: query
          name: requestType
          description: Filter list of requests by requestType. Either this query parameter or the id query paramter must be defined.
          required: false
          example: transaction
          schema:
            type: string
            enum:
              - transaction
              - carKyc
              - carPurchase
              - individualKyc
              - businessKyc
        - in: query
          name: _start
          description: The start number of the requests list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the requests list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Request'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Requests
      summary: Create request
      operationId: createRequest
      description: Create a new request.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBody'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /requests/{id}:
    get:
      tags:
        - Requests
      summary: Get request by id
      operationId: getRequest
      description: Receive request by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Request object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /requests/customId/{customId}:
    get:
      tags:
        - Requests
      summary: Get request by customId
      operationId: getRequestByCustomId
      description: Retrieve request information by customId
      parameters:
        - in: path
          name: customId
          description: Request customId
          example: abc123
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /requests/{id}/recommendation:
    put:
      tags:
        - Requests
      summary: Update request recommendation
      operationId: updateRequestRecommendation
      description: Update request recommendation from review.
      parameters:
        - in: path
          name: id
          description: Request object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - recommendation
                - comment
              properties:
                recommendation:
                  type: string
                  description: New recommendation for the request
                  enum:
                    - block
                    - proceed
                comment:
                  description: Explanation why the recommendation is updated
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /requests/{id}/comment:
    put:
      tags:
        - Requests
      summary: Comment on request
      operationId: commentRequest
      parameters:
        - in: path
          name: id
          description: Case object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - comment
              properties:
                comment:
                  type: string
                  description: Content of the comment
                origin:
                  type: string
                  format: ObjectId
                  description: ID of the comment to edit with this new comment
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /requests/{id}/reprocess:
    put:
      tags:
        - Requests
      summary: Reprocess request
      operationId: reprocessRequest
      description: Reprocess a request that is under `review`.
      parameters:
        - in: path
          name: id
          description: Request object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Request'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /members:
    get:
      tags:
        - Members
      summary: List members
      operationId: listMembers
      description: Receive list of members saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - firstName
              - lastName
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: _start
          description: The start number of the members list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the members list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Member'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Members
      summary: Create member
      operationId: createMember
      description: Create a new member.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /members/{id}:
    get:
      tags:
        - Members
      summary: Get member
      operationId: getMember
      description: Receive member by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Member object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Members
      summary: Update member
      operationId: updateMember
      parameters:
        - in: path
          name: id
          description: Member object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update a member.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MemberBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /members/activation/{id}:
    put:
      tags:
        - Members
      summary: Update member active status
      operationId: updateMemberActiveStatus
      parameters:
        - in: path
          name: id
          description: Member object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update a member activation status.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - active
              properties:
                active:
                  type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /members/{id}/initiate-reset-password:
    post:
      tags:
        - Members
      summary: Reset member password
      operationId: resetMemberPassword
      parameters:
        - in: path
          name: id
          description: Member object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Initiate a reset password email for a member
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /processes:
    get:
      tags:
        - Processes
      summary: List processes
      operationId: listProcesses
      description: Receive list of processes saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - createdAt
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: active
          description: Filter list of processes by active status.
          required: false
          example: true
          schema:
            type: boolean
        - in: query
          name: _start
          description: The start number of the processes list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the processes list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Process'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Processes
      summary: Create process
      operationId: createProcess
      description: Create a new process.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /processes/{id}:
    get:
      tags:
        - Processes
      summary: Get process
      operationId: getProcess
      description: Receive process by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Process object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Processes
      summary: Update process
      operationId: updateProcess
      parameters:
        - in: path
          name: id
          description: Process object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update a process.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /processes/activation/{id}:
    put:
      tags:
        - Processes
      summary: Update process active status
      operationId: updateProcessActiveStatus
      parameters:
        - in: path
          name: id
          description: Process object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update a process activation status.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - active
              properties:
                active:
                  type: boolean
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Process'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /products:
    get:
      tags:
        - Products
      summary: List products
      operationId: listProducts
      description: Receive list of products saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - riskScore
              - createdAt
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: _start
          description: The start number of the products list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the products list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Product'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Products
      summary: Create product
      operationId: createProduct
      description: Create a new product.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /products/{id}:
    get:
      tags:
        - Products
      summary: Get product
      operationId: getProduct
      description: Receive product by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Product object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Products
      summary: Update product
      operationId: updateProduct
      parameters:
        - in: path
          name: id
          description: Product object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      description: Update a product.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductBodyUpdate'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /groups:
    get:
      tags:
        - Groups
      summary: List groups
      operationId: listGroups
      description: Receive list of groups saved in the database.
      parameters:
        - in: query
          name: _sort
          required: false
          example: id
          schema:
            type: string
            enum:
              - id
              - createdAt
        - in: query
          name: _order
          description: Order of list (DESC or ASC) based on the sorting parameter.
          required: false
          example: null
          schema:
            type: string
            enum:
              - DESC
              - ASC
        - in: query
          name: active
          description: Filter list of groups by active status.
          required: false
          example: true
          schema:
            type: boolean
        - in: query
          name: _start
          description: The start number of the groups list.
          required: false
          example: '0'
          schema:
            type: number
        - in: query
          name: _end
          description: The end number of the groups list.
          required: false
          example: '10'
          schema:
            type: number
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Group'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    post:
      tags:
        - Groups
      summary: Create group
      operationId: createGroup
      description: Create a new group.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupBody'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
  /groups/{id}:
    get:
      tags:
        - Groups
      summary: Get group
      operationId: getGroup
      description: Receive group by id saved in the database.
      parameters:
        - in: path
          name: id
          description: Group object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
        '400':
          description: Invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidBody'
        '500':
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBody'
      security:
        - bearerAuth: []
    put:
      tags:
        - Groups
      summary: Update group
      operationId: updateGroup
      parameters:
        - in: path
          name: id
          description: Group object id
          example: 620a2958bfc1d7a803398a6d
          required: true
          schema:
            type: string
            format: ObjectId
[...]
