openapi: 3.0.0
info:
  title: Pingwire API
  version: 1.0.0
  description:
    $ref: description.md
  x-logo:
    url: './assets/pingwire-green.png'
    altText: Pingwire
servers:
- url: https://api.pingwire.io/
  description: Production server
  variables:
    brokerName:
      default: generic
      description: Same as the basic auth username
- url: https://api.staging.pingwire.io
  description: Staging server
  variables:
    brokerName:
      default: generic
      description: Same as the basic auth username
x-tagGroups:
  - name: Get started
    tags:
      - Auth
  - name: Risk Management
    tags:
      - Requests
      - Pings
      - Cases
  - name: Entities
    tags:
      - Individuals
      - Businesses
      - Cars
  - name: Other resources
    tags:
      - Segments
      - KYC Forms
      - Risk Classes
      - Rules
      - Members
      - API keys
paths:
  /auth/login/:
    $ref: './paths/auth/auth.yml'
  /individuals/:
    $ref: './paths/individuals/individuals.yml'
  /individuals/{id}:
    $ref: './paths/individuals/individuals-id.yml'
  /businesses/:
    $ref: './paths/businesses/businesses.yml'
  /businesses/{id}:
    $ref: './paths/businesses/businesses-id.yml'
  /cars/:
    $ref: './paths/cars/cars.yml'
  /cars/{id}:
    $ref: './paths/cars/cars-id.yml'
  /pings/:
    $ref: './paths/pings/pings.yml'
  /pings/{id}:
    $ref: './paths/pings/pings-id.yml'
  /pings/{id}/status:
    $ref: './paths/pings/pings-id-status.yml'
  /pings/{id}/comment:
    $ref: './paths/pings/pings-id-comments.yml'
  /cases/:
    $ref: './paths/cases/cases.yml'
  /cases/{id}:
    $ref: './paths/cases/cases-id.yml'
  /cases/{id}/status:
    $ref: './paths/cases/cases-id-status.yml'
  /cases/{id}/comment:
    $ref: './paths/cases/cases-id-comments.yml'
  /requests/:
    $ref: './paths/requests/requests.yml'
  /requests/{id}:
    $ref: './paths/requests/requests-id.yml'
  /requests/{id}/recommendation:
    $ref: './paths/requests/requests-id-recommendation.yml'
  /requests/{id}/comment:
    $ref: './paths/requests/requests-id-comments.yml'
  /requests/{id}/reprocess:
    $ref: './paths/requests/requests-id-reprocess.yml'
  /members:
      $ref: './paths/members/members.yml'
  /members/{id}:
      $ref: './paths/members/members-id.yml'
  /members/activation/{id}:
      $ref: './paths/members/members-activation-id.yml'
  /members/{id}/initiate-reset-password:
      $ref: './paths/members/members-id-initiate-reset-password.yml'
  /segments:
      $ref: './paths/segments/segments.yml'
  /segments/{id}:
      $ref: './paths/segments/segments-id.yml'
  /segments/activation/{id}:
      $ref: './paths/segments/segments-activation-id.yml'
  /risk-classes:
      $ref: './paths/riskClasses/risk-classes.yml'
  /risk-classes/{id}:
      $ref: './paths/riskClasses/risk-classes-id.yml'
  /risk-classes/from-score/{score}:
      $ref: './paths/riskClasses/risk-classes-from-score.yml'
  /risk-classes/interval-coverage:
      $ref: './paths/riskClasses/risk-classes-interval-coverage.yml'
  /kyc-form/:
    $ref: './paths/kyc-form/kyc-form.yml'
  /kyc-form/{id}:
    $ref: './paths/kyc-form/kyc-form-id.yml'
  # /api-keys:
  #     $ref: './paths/apiKeys/api-keys.yml'
  # /api-keys/{id}:
  #     $ref: './paths/apiKeys/api-keys-id.yml'
  # /api-keys/{id}/client-secret:
  #     $ref: './paths/apiKeys/api-keys-id-client-secret.yml'
  /rules:
      $ref: './paths/rules/rules.yml'
  /rules/{id}:
      $ref: './paths/rules/rules-id.yml'


components:
  schemas:
    IndividualResponse:
      $ref: "./components/schemas/Individual.yml"
    BusinessResponse:
      $ref: "./components/schemas/Business.yml"
    CarResponse:
      $ref: "./components/schemas/Car.yml"
    KycForm:
      $ref: "./components/schemas/KycForm.yml"
    Ping:
      $ref: "./components/schemas/Ping.yml"
    Case:
      $ref: "./components/schemas/Case.yml"
    InvalidBody:
      $ref: "./components/schemas/InvalidBody.yml"
    ErrorBody:
      $ref: "./components/schemas/ErrorBody.yml"
    Transaction:
      $ref: "./components/schemas/Transaction.yml"
    CarKyc:
      $ref: "./components/schemas/CarKyc.yml"
    IndividualKyc:
      $ref: "./components/schemas/IndividualKyc.yml"
    IndividualKycBody:
      $ref: "./components/schemas/IndividualKycBody.yml"
    BusinessKyc:
      $ref: "./components/schemas/BusinessKyc.yml"
    BusinessKycBody:
      $ref: "./components/schemas/BusinessKycBody.yml"
    CarPurchase:
      $ref: "./components/schemas/CarPurchase.yml"
    TransactionBody:
      $ref: "./components/schemas/TransactionBody.yml"
    CarKycBody:
      $ref: "./components/schemas/CarKycBody.yml"
    CarPurchaseBody:
      $ref: "./components/schemas/CarPurchaseBody.yml"
    RequestBody:
      $ref: "./components/schemas/RequestBody.yml"
    Request:
      $ref: "./components/schemas/Request.yml"
    BankData:
      $ref: "./components/schemas/BankData.yml"
    Individual:
      $ref: "./components/schemas/requestParties/Individual.yml"
    Business:
      $ref: "./components/schemas/requestParties/Business.yml"
    Car:
      $ref: "./components/schemas/requestParties/Car.yml"
    Segment:
      $ref: "./components/schemas/Segment.yml"
    SegmentBody:
      $ref: "./components/schemas/SegmentBody.yml"
    RiskClass:
      $ref: "./components/schemas/RiskClass.yml"
    RiskClassBody:
      $ref: "./components/schemas/RiskClassBody.yml"
    Member:
      $ref: "./components/schemas/Member.yml"
    MemberBody:
      $ref: "./components/schemas/MemberBody.yml"
    # ApiKey:
    #   $ref: "./components/schemas/ApiKey.yml"
    # ApiKeyBody:
    #   $ref: "./components/schemas/ApiKeyBody.yml"
    Rule:
      $ref: "./components/schemas/Rule.yml"
    RuleBody:
      $ref: "./components/schemas/RuleBody.yml"




  securitySchemes:
    bearerAuth:
      type: "http"
      scheme: "bearerToken"
