openapi: 3.0.0
info:
  title: Pingwire API
  version: 1.0.0
  description:
    $ref: description.md
  x-logo:
    url: './assets/pingwire-green.png'
    altText: Pingwire
servers:
- url: https://api.pingwire.io/
  description: Production server
  variables:
    brokerName:
      default: generic
      description: Same as the basic auth username
- url: https://api.staging.pingwire.io
  description: Staging server
  variables:
    brokerName:
      default: generic
      description: Same as the basic auth username
x-tagGroups:
  - name: Get started
    tags:
      - Auth
  - name: Risk Management
    tags:
      - Requests
      - Pings
      - Cases
  - name: Entities
    tags:
      - Individuals
      - Businesses
      - Cars
  - name: Other resources
    tags:
      - Segments
      - Forms
      - Risk Classes
      - Rules
      - Members
      - API keys
      - Processes
      - Signals
      - Groups
paths:
  /auth/login/:
    $ref: './paths/auth/auth.yml'
  /individuals/:
    $ref: './paths/individuals/individuals.yml'
  /individuals/{id}:
    $ref: './paths/individuals/individuals-id.yml'
  /businesses/:
    $ref: './paths/businesses/businesses.yml'
  /businesses/{id}:
    $ref: './paths/businesses/businesses-id.yml'
  /cars/:
    $ref: './paths/cars/cars.yml'
  /cars/{id}:
    $ref: './paths/cars/cars-id.yml'
  /pings/:
    $ref: './paths/pings/pings.yml'
  /pings/{id}:
    $ref: './paths/pings/pings-id.yml'
  /pings/{id}/status:
    $ref: './paths/pings/pings-id-status.yml'
  /pings/{id}/comment:
    $ref: './paths/pings/pings-id-comments.yml'
  /cases/:
    $ref: './paths/cases/cases.yml'
  /cases/{id}:
    $ref: './paths/cases/cases-id.yml'
  /cases/{id}/status:
    $ref: './paths/cases/cases-id-status.yml'
  /cases/{id}/comment:
    $ref: './paths/cases/cases-id-comments.yml'
  /requests/:
    $ref: './paths/requests/requests.yml'
  /requests/{id}:
    $ref: './paths/requests/requests-id.yml'
  /requests/{id}/recommendation:
    $ref: './paths/requests/requests-id-recommendation.yml'
  /requests/{id}/comment:
    $ref: './paths/requests/requests-id-comments.yml'
  /requests/{id}/reprocess:
    $ref: './paths/requests/requests-id-reprocess.yml'
  /members:
      $ref: './paths/members/members.yml'
  /members/{id}:
      $ref: './paths/members/members-id.yml'
  /members/activation/{id}:
      $ref: './paths/members/members-activation-id.yml'
  /members/{id}/initiate-reset-password:
      $ref: './paths/members/members-id-initiate-reset-password.yml'
  /processes:
      $ref: './paths/processes/processes.yml'
  /processes/{id}:
      $ref: './paths/processes/processes-id.yml'
  /processes/activation/{id}:
      $ref: './paths/processes/processes-activation-id.yml'   
  /groups:
      $ref: './paths/groups/groups.yml'
  /groups/{id}:
      $ref: './paths/groups/groups-id.yml'
  /groups/activation/{id}:
      $ref: './paths/groups/groups-activation-id.yml'    
  /risk-classes:
      $ref: './paths/riskClasses/risk-classes.yml'
  /risk-classes/{id}:
      $ref: './paths/riskClasses/risk-classes-id.yml'
  /risk-classes/from-score/{score}:
      $ref: './paths/riskClasses/risk-classes-from-score.yml'
  /risk-classes/interval-coverage:
      $ref: './paths/riskClasses/risk-classes-interval-coverage.yml'
  /forms/{formId}/{entityId}/link:
      $ref: './paths/forms/form-entityId-formId.yml'
  # /api-keys:
  #     $ref: './paths/apiKeys/api-keys.yml'
  # /api-keys/{id}:
  #     $ref: './paths/apiKeys/api-keys-id.yml'
  # /api-keys/{id}/client-secret:
  #     $ref: './paths/apiKeys/api-keys-id-client-secret.yml'
  /rules:
      $ref: './paths/rules/rules.yml'
  /rules/{id}:
      $ref: './paths/rules/rules-id.yml'
  /signals:
      $ref: './paths/signals/signals.yml'
  /signals/{id}:
      $ref: './paths/signals/signals-id.yml'
  /signals/activation/{id}:
      $ref: './paths/signals/signals-activation-id.yml'   


components:
  schemas:
    BusinessForm:
      allOf:
        - $ref: '#/components/schemas/KycFormBody'
        - type: object
          properties:
            contactInfo: 
              $ref: '#/components/schemas/ContactInfo'
            beneficialOwners:
              $ref: '#/components/schemas/BeneficialOwners'
            boardMembers:
              $ref: '#/components/schemas/BoardMembers'
            signatories:
              $ref: '#/components/schemas/Signatories'
            financialInfo:
              $ref: '#/components/schemas/BusinessFinancialInfo'
            identification:
              $ref: '#/components/schemas/BusinessIdentification'
            riskAssessment:
              $ref: '#/components/schemas/BusinessRiskAssessment'
    IndividualForm:
      allOf:
        - $ref: '#/components/schemas/KycFormBody'
        - type: object
          properties:
            contactInfo: 
              $ref: '#/components/schemas/ContactInfo'
            financialInfo:
              $ref: '#/components/schemas/IndividualFinancialInfo'
            identification:
              $ref: '#/components/schemas/IndividualIdentification'
            riskAssessment:
              $ref: '#/components/schemas/IndividualRiskAssessment'
    ContactInfo:
      $ref: "./components/schemas/ContactInfo.yml"
    BeneficialOwners:
      $ref: "./components/schemas/BeneficialOwners.yml"
    BoardMembers:
      $ref: "./components/schemas/BoardMembers.yml"
    Signatories:
      $ref: "./components/schemas/Signatories.yml"
    TransactionBehavior:
      $ref: "./components/schemas/TransactionBehavior.yml"
    BusinessFinancialInfo:
      $ref: "./components/schemas/BusinessFinancialInfo.yml"
    IndividualFinancialInfo:
      $ref: "./components/schemas/IndividualFinancialInfo.yml"
    BusinessIdentification:
      $ref: "./components/schemas/BusinessIdentification.yml"
    IndividualIdentification:
      $ref: "./components/schemas/IndividualIdentification.yml"
    BusinessRiskAssessment:
      $ref: "./components/schemas/BusinessRiskAssessment.yml"
    IndividualRiskAssessment:
      $ref: "./components/schemas/IndividualRiskAssessment.yml"
    IndividualResponse:
      $ref: "./components/schemas/Individual.yml"
    BusinessResponse:
      $ref: "./components/schemas/Business.yml"
    CarResponse:
      $ref: "./components/schemas/Car.yml"
    KycForm:
      $ref: "./components/schemas/KycForm.yml"
    KycFormBody:
      $ref: "./components/schemas/KycFormBody.yml"
    Ping:
      $ref: "./components/schemas/Ping.yml"
    Case:
      $ref: "./components/schemas/Case.yml"
    InvalidBody:
      $ref: "./components/schemas/InvalidBody.yml"
    ErrorBody:
      $ref: "./components/schemas/ErrorBody.yml"
    Transaction:
      $ref: "./components/schemas/Transaction.yml"
    CarKyc:
      $ref: "./components/schemas/CarKyc.yml"
    IndividualKyc:
      $ref: "./components/schemas/IndividualKyc.yml"
    IndividualKycBody:
      $ref: "./components/schemas/IndividualKycBody.yml"
    BusinessKyc:
      $ref: "./components/schemas/BusinessKyc.yml"
    BusinessKycBody:
      $ref: "./components/schemas/BusinessKycBody.yml"
    CarPurchase:
      $ref: "./components/schemas/CarPurchase.yml"
    TransactionBody:
      $ref: "./components/schemas/TransactionBody.yml"
    CarKycBody:
      $ref: "./components/schemas/CarKycBody.yml"
    CarPurchaseBody:
      $ref: "./components/schemas/CarPurchaseBody.yml"
    RequestBody:
      $ref: "./components/schemas/RequestBody.yml"
    Request:
      $ref: "./components/schemas/Request.yml"
    BankData:
      $ref: "./components/schemas/BankData.yml"
    Individual:
      $ref: "./components/schemas/requestParties/Individual.yml"
    Account:
      $ref: "./components/schemas/requestParties/Account.yml"
    Business:
      $ref: "./components/schemas/requestParties/Business.yml"
    Car:
      $ref: "./components/schemas/requestParties/Car.yml"
    Process:
      $ref: "./components/schemas/Process.yml"
    ProcessBody:
      $ref: "./components/schemas/ProcessBody.yml"
    Group:
      $ref: "./components/schemas/Group.yml"
    GroupBody:
      $ref: "./components/schemas/GroupBody.yml"
    RiskClass:
      $ref: "./components/schemas/RiskClass.yml"
    RiskClassBody:
      $ref: "./components/schemas/RiskClassBody.yml"
    Member:
      $ref: "./components/schemas/Member.yml"
    MemberBody:
      $ref: "./components/schemas/MemberBody.yml"
    PartyResponse:
      $ref: "./components/schemas/requestParties/PartyResponse.yml"
    # ApiKey:
    #   $ref: "./components/schemas/ApiKey.yml"
    # ApiKeyBody:
    #   $ref: "./components/schemas/ApiKeyBody.yml"
    Rule:
      $ref: "./components/schemas/Rule.yml"
    RuleBody:
      $ref: "./components/schemas/RuleBody.yml"
    Signal:
      $ref: "./components/schemas/Signal.yml"
    SignalBody:
      $ref: "./components/schemas/SignalBody.yml"



  securitySchemes:
    bearerAuth:
      type: "http"
      scheme: "bearerToken"
