openapi: 3.1.1
info:
  title: Pingwire API
  version: 1.0.0
  description:
    $ref: description.md
  x-logo:
    url: './assets/pingwire-logo.svg'
    altText: Pingwire
    href: https://www.pingwire.io
  license:
    name: Commercial - Subscription Required
    url: "https://www.pingwire.io/contact-us"
servers:
- url: https://api.pingwire.io
  description: Production server
- url: https://api.staging.pingwire.io
  description: Staging server
tags:
  - name: Forms
    description:
      $ref: './paths/forms/form.md'
  - name: Auth
    description:
      $ref: './paths/auth/auth.md'
  - name: Get started with Webhooks
    description:
      $ref: './paths/webhooks/webhooks.md'
x-tagGroups:
  - name: Get started
    tags:
      - Auth

  - name: Risk Management
    tags:
      - Requests
      - Pings
      - Cases

  - name: Entities
    tags:
      - Individuals
      - Businesses
      - Cars
      - Accounts
      - Products

  - name: KYC Forms
    tags:
      - Forms
      - Form answers

  - name: KYC Data
    tags:
      - Population Register
      - Company Information
      - Beneficial Owners
      - Board Members
      - Signatories

  - name: Webhooks
    tags:
      - Get started with Webhooks
      - Webhook configurations
      - Testing webhooks

  - name: Other resources
    tags:
      - Risk Classes
      - Rules
      - Members
      - Processes
      - Signals
      - Connections
      - Groups
      - Transaction Table Setup
      - Transaction Types
      - Transaction

paths:
  /account-entities:
    $ref: './paths/accountEntities/account-entities.yml'
  /account-entities/{id}:
    $ref: './paths/accountEntities/account-entities-id.yml'
  /account-entities/customId/{customId}:
    $ref: './paths/accountEntities/account-entities-custom-id.yml'
  /auth/login:
    $ref: './paths/auth/login.yml'
  /auth/refresh-token:
    $ref: './paths/auth/refreshToken.yml'
  /individuals:
    $ref: './paths/individuals/individuals.yml'
  /individuals/{id}:
    $ref: './paths/individuals/individuals-id.yml'
  /individuals/customId/{customId}:
    $ref: './paths/individuals/individuals-custom-id.yml'
  /businesses:
    $ref: './paths/businesses/businesses.yml'
  /businesses/{id}:
    $ref: './paths/businesses/businesses-id.yml'
  /businesses/customId/{customId}:
    $ref: './paths/businesses/businesses-custom-id.yml'
  /businesses/company-information/manual-insert/{id}:
    $ref: './paths/businesses/company-information/manual-insert.yml'
  /businesses/beneficial-owners/manual-insert/{id}:
    $ref: './paths/businesses/beneficial-owners/manual-insert.yml'
  /businesses/board-members/manual-insert/{id}:
    $ref: './paths/businesses/board-members/manual-insert.yml'
  /businesses/signatories/manual-insert/{id}:
    $ref: './paths/businesses/signatories/manual-insert.yml'
  /cars:
    $ref: './paths/cars/cars.yml'
  /cars/{id}:
    $ref: './paths/cars/cars-id.yml'
  /cars/customId/{customId}:
    $ref: './paths/cars/cars-custom-id.yml'
  /connections:
    $ref: './paths/connections/connections.yml'
  /connections/{id}:
    $ref: './paths/connections/connections-id.yml'
  /pings:
    $ref: './paths/pings/pings.yml'
  /pings/{id}:
    $ref: './paths/pings/pings-id.yml'
  /pings/{id}/status:
    $ref: './paths/pings/pings-id-status.yml'
  /pings/{id}/comment:
    $ref: './paths/pings/pings-id-comments.yml'
  /cases:
    $ref: './paths/cases/cases.yml'
  /cases/merge:
    $ref: './paths/cases/cases-merge.yml'
  /cases/{id}:
    $ref: './paths/cases/cases-id.yml'
  /cases/{id}/attach-entity:
    $ref: './paths/cases/cases-id-attach-entity.yml'
  /cases/{id}/detach-entity:
    $ref: './paths/cases/cases-id-detach-entity.yml'
  /cases/{id}/status:
    $ref: './paths/cases/cases-id-status.yml'
  /cases/{id}/comment:
    $ref: './paths/cases/cases-id-comments.yml'
  /requests:
    $ref: './paths/requests/requests.yml'
  /requests/{id}:
    $ref: './paths/requests/requests-id.yml'
  /requests/customId/{customId}:
    $ref: './paths/requests/requests-custom-id.yml'
  /requests/{id}/recommendation:
    $ref: './paths/requests/requests-id-recommendation.yml'
  /requests/{id}/comment:
    $ref: './paths/requests/requests-id-comments.yml'
  /requests/{id}/reprocess:
    $ref: './paths/requests/requests-id-reprocess.yml'
  /members:
      $ref: './paths/members/members.yml'
  /members/{id}:
      $ref: './paths/members/members-id.yml'
  /members/activation/{id}:
      $ref: './paths/members/members-activation-id.yml'
  /members/{id}/initiate-reset-password:
      $ref: './paths/members/members-id-initiate-reset-password.yml'
  /processes:
      $ref: './paths/processes/processes.yml'
  /processes/{id}:
      $ref: './paths/processes/processes-id.yml'
  /processes/activation/{id}:
      $ref: './paths/processes/processes-activation-id.yml'
  /products:
    $ref: './paths/products/products.yml'
  /products/{id}:
    $ref: './paths/products/products-id.yml'
  /groups:
      $ref: './paths/groups/groups.yml'
  /groups/{id}:
      $ref: './paths/groups/groups-id.yml'
  /groups/activation/{id}:
      $ref: './paths/groups/groups-activation-id.yml'
  /risk-classes:
      $ref: './paths/riskClasses/risk-classes.yml'
  /risk-classes/{id}:
      $ref: './paths/riskClasses/risk-classes-id.yml'
  /risk-classes/from-score/{score}:
      $ref: './paths/riskClasses/risk-classes-from-score.yml'
  /risk-classes/interval-coverage:
      $ref: './paths/riskClasses/risk-classes-interval-coverage.yml'
  /forms/{formId}/{entityId}/link:
      $ref: './paths/forms/form-entityId-formId.yml'
  /form-answers/{formAnswerId}:
      $ref: './paths/formAnswers/form-answers-id.yml'
  /form-answers:
      $ref: './paths/formAnswers/form-answers.yml'
  # /api-keys:
  #     $ref: './paths/apiKeys/api-keys.yml'
  # /api-keys/{id}:
  #     $ref: './paths/apiKeys/api-keys-id.yml'
  # /api-keys/{id}/client-secret:
  #     $ref: './paths/apiKeys/api-keys-id-client-secret.yml'
  /rules:
      $ref: './paths/rules/rules.yml'
  /rules/{id}:
      $ref: './paths/rules/rules-id.yml'
  /signals:
      $ref: './paths/signals/signals.yml'
  /signals/{id}:
      $ref: './paths/signals/signals-id.yml'
  /signals/activation/{id}:
      $ref: './paths/signals/signals-activation-id.yml'
  /transaction/{id}:
      $ref: './paths/transaction/transaction.yml'
  /transaction-table-setup/{entityType}:
      $ref: './paths/transactionTableSetup/transaction-table-setup.yml'
  /transaction-table-setup/{entityType}/columns:
      $ref: './paths/transactionTableSetup/transaction-table-setup-columns.yml'
  /transaction-table-setup/{entityType}/row:
      $ref: './paths/transactionTableSetup/transaction-table-setup-row.yml'
  /transaction-table-setup/{entityType}/rowToShow:
      $ref: './paths/transactionTableSetup/transaction-table-setup-row-to-show.yml'
  /transaction-table-setup/{entityType}/row/{id}:
      $ref: './paths/transactionTableSetup/transaction-table-setup-row-id.yml'
  /transaction-types:
      $ref: './paths/transactionTypes/transaction-types.yml'
  /transaction-types/{id}:
      $ref: './paths/transactionTypes/transaction-types-id.yml'
  /transaction-types/activation/{id}:
      $ref: './paths/transactionTypes/transaction-types-activation-id.yml'
  /webhooks/configurations:
      $ref: './paths/webhooks/configurations.yml'
  /individual/population-register/manual-insert:
      $ref: './paths/populationRegisters/manual-insert-old.yml'
  /individuals/population-register/v2/manual-insert/{id}:
      $ref: './paths/populationRegisters/manual-insert.yml'
  /individuals/population-register/v2/{id}:
      $ref: './paths/populationRegisters/population-register.yml'

components:
  schemas:
    AccountEntityBody:
      $ref: "./components/schemas/AccountEntityBody.yml"
    AccountEntityBodyUpdate:
      $ref: "./components/schemas/AccountEntityBodyUpdate.yml"
    AccountEntity:
      $ref: "./components/schemas/AccountEntity.yml"
    EntitySavedFields:
      $ref: "./components/schemas/EntitySavedFields.yml"
    Individual:
      $ref: "./components/schemas/Individual.yml"
    BusinessBody:
      $ref: "./components/schemas/BusinessBody.yml"
    BusinessBodyUpdate:
      $ref: "./components/schemas/BusinessBodyUpdate.yml"
    Business:
      $ref: "./components/schemas/Business.yml"
    Car:
      $ref: "./components/schemas/Car.yml"
    Connection:
      $ref: "./components/schemas/Connection.yml"
    ConnectionUpdate:
      $ref: "./components/schemas/ConnectionUpdate.yml"
    Comment:
      $ref: "./components/schemas/Comment.yml"
    Ping:
      $ref: "./components/schemas/Ping.yml"
    PingBodyUpdate:
      $ref: "./components/schemas/PingBodyUpdate.yml"
    Case:
      $ref: "./components/schemas/Case.yml"
    InvalidBody:
      $ref: "./components/schemas/InvalidBody.yml"
    ErrorBody:
      $ref: "./components/schemas/ErrorBody.yml"
    RequestTransaction:
      $ref: "./components/schemas/RequestTransaction.yml"
    RequestCarKyc:
      $ref: "./components/schemas/RequestCarKyc.yml"
    RequestIndividualKyc:
      $ref: "./components/schemas/RequestIndividualKyc.yml"
    RequestIndividualKycBody:
      $ref: "./components/schemas/RequestIndividualKycBody.yml"
    RequestBusinessKyc:
      $ref: "./components/schemas/RequestBusinessKyc.yml"
    RequestBusinessKycBody:
      $ref: "./components/schemas/RequestBusinessKycBody.yml"
    RequestCarPurchase:
      $ref: "./components/schemas/RequestCarPurchase.yml"
    RequestTransactionBody:
      $ref: "./components/schemas/RequestTransactionBody.yml"
    RequestCarKycBody:
      $ref: "./components/schemas/RequestCarKycBody.yml"
    RequestCarPurchaseBody:
      $ref: "./components/schemas/RequestCarPurchaseBody.yml"
    RequestBody:
      $ref: "./components/schemas/RequestBody.yml"
    Request:
      $ref: "./components/schemas/Request.yml"
    # BankData:
    #   $ref: "./components/schemas/BankData.yml"
    IndividualRequestParty:
      $ref: "./components/schemas/requestParties/Individual.yml"
    IndividualBody:
      $ref: "./components/schemas/IndividualBody.yml"
    IndividualBodyUpdate:
      $ref: "./components/schemas/IndividualBodyUpdate.yml"
    AccountRequestParty:
      $ref: "./components/schemas/requestParties/Account.yml"
    BusinessRequestParty:
      $ref: "./components/schemas/requestParties/Business.yml"
    CarRequestParty:
      $ref: "./components/schemas/requestParties/Car.yml"
    CarBody:
      $ref: "./components/schemas/CarBody.yml"
    CarBodyUpdate:
      $ref: "./components/schemas/CarBodyUpdate.yml"
    Process:
      $ref: "./components/schemas/Process.yml"
    ProcessBody:
      $ref: "./components/schemas/ProcessBody.yml"
    Group:
      $ref: "./components/schemas/Group.yml"
    GroupBody:
      $ref: "./components/schemas/GroupBody.yml"
    RiskClass:
      $ref: "./components/schemas/RiskClass.yml"
    RiskClassBody:
      $ref: "./components/schemas/RiskClassBody.yml"
    Member:
      $ref: "./components/schemas/Member.yml"
    MemberBody:
      $ref: "./components/schemas/MemberBody.yml"
    # ApiKey:
    #   $ref: "./components/schemas/ApiKey.yml"
    # ApiKeyBody:
    #   $ref: "./components/schemas/ApiKeyBody.yml"
    Rule:
      $ref: "./components/schemas/Rule.yml"
    RuleBody:
      $ref: "./components/schemas/RuleBody.yml"
    Signal:
      $ref: "./components/schemas/Signal.yml"
    SignalBody:
      $ref: "./components/schemas/SignalBody.yml"
    TransactionType:
      $ref: "./components/schemas/TransactionType.yml"
    TransactionBody:
      $ref: "./components/schemas/TransactionBody.yml"
    Transaction:
      $ref: "./components/schemas/Transaction.yml"
    TransactionTableSetup:
      $ref: "./components/schemas/TransactionTableSetup.yml"
    TransactionTypeBody:
      $ref: "./components/schemas/TransactionTypeBody.yml"
    PopulationRegisterOld:
      $ref: "./components/schemas/PopulationRegisterOld.yml"
    PopulationRegister:
      $ref: "./components/schemas/PopulationRegister.yml"
    PopulationRegisterResponse:
      $ref: "./components/schemas/PopulationRegisterResponse.yml"
    Product:
      $ref: "./components/schemas/Product.yml"
    ProductBase:
      $ref: "./components/schemas/ProductBase.yml"
    ProductBody:
      $ref: "./components/schemas/ProductBody.yml"
    ProductBodyBase:
      $ref: "./components/schemas/ProductBodyBase.yml"
    ProductBodyUpdate:
      $ref: "./components/schemas/ProductBodyUpdate.yml"
    ProductBodyUpdateBase:
      $ref: "./components/schemas/ProductBodyUpdateBase.yml"
    ProductParty:
      $ref: "./components/schemas/requestParties/Product.yml"
    ProductPartyInvoice:
      $ref: "./components/schemas/requestParties/ProductPartyInvoice.yml"
    ProductPartySwish:
      $ref: "./components/schemas/requestParties/ProductPartySwish.yml"
    ProductPartyLineOfBusiness:
      $ref: "./components/schemas/requestParties/ProductPartyLineOfBusiness.yml"
    ProductPartyBase:
      $ref: "./components/schemas/requestParties/ProductPartyBase.yml"
    ProductInvoice:
      $ref: "./components/schemas/ProductInvoice.yml"
    ProductInvoiceBody:
      $ref: "./components/schemas/ProductInvoiceBody.yml"
    ProductInvoiceBodyUpdate:
      $ref: "./components/schemas/ProductInvoiceBodyUpdate.yml"
    ProductInvoiceProductInformation:
      $ref: "./components/schemas/ProductInvoiceProductInformation.yml"
    ProductSwish:
      $ref: "./components/schemas/ProductSwish.yml"
    ProductSwishBody:
      $ref: "./components/schemas/ProductSwishBody.yml"
    ProductSwishBodyUpdate:
      $ref: "./components/schemas/ProductSwishBodyUpdate.yml"
    ProductSwishProductInformation:
      $ref: "./components/schemas/ProductSwishProductInformation.yml"
    ProductLineOfBusiness:
      $ref: "./components/schemas/ProductLineOfBusiness.yml"
    ProductLineOfBusinessBody:
      $ref: "./components/schemas/ProductLineOfBusinessBody.yml"
    ProductLineOfBusinessBodyUpdate:
      $ref: "./components/schemas/ProductLineOfBusinessBodyUpdate.yml"
    ProductLineOfBusinessProductInformation:
      $ref: "./components/schemas/ProductLineOfBusinessProductInformation.yml"
    CompanyInformationRequest:
      $ref: "./components/schemas/businesses/CompanyInformationRequest.yml"
    CompanyInformationResponse:
      $ref: "./components/schemas/businesses/CompanyInformationResponse.yml"
    BeneficialOwnersRequest:
      $ref: "./components/schemas/businesses/BeneficialOwnersRequest.yml"
    BeneficialOwnersResponse:
      $ref: "./components/schemas/businesses/BeneficialOwnersResponse.yml"
    BoardMembersRequest:
      $ref: "./components/schemas/businesses/BoardMembersRequest.yml"
    BoardMembersResponse:
      $ref: "./components/schemas/businesses/BoardMembersResponse.yml"
    SignatoriesRequest:
      $ref: "./components/schemas/businesses/SignatoriesRequest.yml"
    SignatoriesResponse:
      $ref: "./components/schemas/businesses/SignatoriesResponse.yml"
    FormAnswer:
      $ref: "./components/schemas/FormAnswer.yml"
    FormAnswerSaved:
      $ref: "./components/schemas/FormAnswerSaved.yml"
    FormAnswerUpdate:
      $ref: "./components/schemas/FormAnswerUpdate.yml"
    RelatedEntity:
      $ref: "./components/schemas/RelatedEntity.yml"
    RelatedEntityRole:
      $ref: "./components/schemas/RelatedEntityRole.yml"
    TransactionTableSetupColumns:
      $ref: "./components/schemas/TransactionTableSetupColumns.yml"
    TransactionPattern:
      $ref: "./components/schemas/TransactionPattern.yml"
    TransactionParty:
      $ref: "./components/schemas/requestParties/TransactionParty.yml"
    TransactionTypeConfiguration:
      $ref: "./components/schemas/TransactionTypeConfiguration.yml"
    Pep:
      $ref: "./components/schemas/Pep.yml"
    NationalIdentifier:
      $ref: "./components/schemas/NationalIdentifier.yml"
    NationalIdentifierRestricted:
      $ref: "./components/schemas/NationalIdentifierRestricted.yml"
    ExpectedTransactionBehaviour:
      $ref: "./components/schemas/ExpectedTransactionBehaviour.yml"

    EntityTypes:
      $ref: "./components/schemas/enums/entityTypes.yml"
    ConnectionTypes:
      $ref: "./components/schemas/enums/connectionTypes.yml"
    ProductTypes:
      $ref: "./components/schemas/enums/productTypes.yml"
    ProductPartyRoles:
      $ref: "./components/schemas/enums/productPartyRoles.yml"
    SourceOfFunds:
      $ref: "./components/schemas/enums/sourceOfFunds.yml"
    transactionStatuses:
      $ref: "./components/schemas/enums/transactionStatuses.yml"
    DirectControlTypes:
      $ref: "./components/schemas/controlTypes/directControlTypes.yml"
    IndirectControlTypes:
      $ref: "./components/schemas/controlTypes/indirectControlTypes.yml"
    CaseStatuses:
      $ref: "./components/schemas/enums/caseStatuses.yml"
    CasePriorities:
      $ref: "./components/schemas/enums/casePriorities.yml"

  securitySchemes:
    bearerAuth:
      type: "http"
      scheme: "bearerToken"
